.head {
    max-width: none;
    font-size: xx-large;
    font-weight: bolder;
    border: 12px outset #939393;
    box-shadow: rgba(0, 0, 0, .4) 9px 9px 9px, rgba(0, 0, 0, .4) -9px -9px 9px;
}

.headcont {
    height: 36px;
    border: 6px outset #939393;
    margin: -6px;
    padding: 0px 12px 0px 12px;
}

.sidebar {
    width: 9vw;
    display: flex;
    flex-direction: column;
    border: 9px inset #636363;
    padding: 6px 6px 6px 6px;
}

.sidebarselection {
    display: flex;
    flex-direction: column;
    height: 36px;
    padding: 0px 18px 0px 6px;
    margin: 3px 6px 1px 6px;
    text-align: start;
    font-weight: bold;
}

.sidebarnav {
    font-size: 18px;
    height: 27px;
    padding: 9px 9px 9px 3px;
    margin: -6px -6px 6px -6px;
    border: 9px inset #636363;
    text-align: center;
    transition-duration: .4s;
}

.content {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 9px outset #636363;
    word-wrap: hyphenate;
}

.contentcont {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 18px;
    border: 6px dashed #636363;
    word-wrap: break-word;
}

.contenttxt {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0px 18px 18px 18px;
    border: 6px dashed #636363;
    word-wrap: break-word;
}

.foot {
    max-width: none;
    height: 45px;
    display: flex;
    flex-direction: row;
    color: #a6a6a6;
    background-color: #0f0f0f;
    border: 6px outset #424242;
    clear: both;
    box-shadow: rgba(0, 0, 0, .4) 9px 9px 9px, rgba(0, 0, 0, .4) -9px -9px 9px;
}

.footconts {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6px 6px 6px 6px;
    margin: auto;
}



.button {
    background-color: #424242;
    border: 3px inset #939393;
    color: #eaeaea;
    font-weight: 400;
    text-align: start;
    display: inline-block;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, .4) 9px 9px 9px, rgba(0, 0, 0, .4) -9px -9px 9px;
    transition-duration: .4s;
}

    .button:hover {
        max-width: 81%;
    }

.buttonnoresize {
    background-color: #424242;
    border: 3px inset #939393;
    color: #eaeaea;
    font-weight: normal;
    text-align: start;
    display: inline-block;
}

    .buttonnoresize:hover {
        filter: invert();
    }

body {
    background-color: #242424;
    color: #eaeaea;
    font-family: Consolas;
}

img {
    box-shadow: rgba(0, 0, 0, .4) 9px 9px 9px;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

audio {
    min-width: 23vw;
}


.imgkeepaspect {
    max-width: 18vw;
    height: auto;
}

.maxwidth {
    max-width: 100vw;
}

.lrgwidth {
    max-width: 36vw;
}

.nmlwidth {
    max-width: 18vw;
}

.smlmidwidth {
    max-width: 13vw;
}

.smlwidth {
    max-width: 9vw;
}

.tnywidth {
    max-width: 3vw;
}



.twocolumngridcontainer {
    display: grid;
    grid-gap: 3vh;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto;
}

.grid1strow {
    grid-row: 1;
}

.grid2ndrow {
    grid-row: 2;
}

.grid1stcolumn {
    grid-column: 1;
}

.grid2ndcolumn {
    grid-column: 2;
}


.noshadow {
    box-shadow: none;
    text-shadow: none;
}



.wide100 {
    width: 100%;
}

.wide54 {
    width: 54%;
}

.wide36 {
    width: 36%;
}



.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}



.automar {
    margin: auto;
}

.medmar {
    margin: 6px;
}

.nomar {
    margin: 0px;
}

.bottommar {
    margin: 0px 0px 18px 0px;
}

.medbtmmar {
    margin: 0px 0px 36px 0px;
}

.lrgbtmmar {
    margin: 0px 0px 54px 0px;
}



.txthuge {
    font-size: xx-large;
}

.txtxlrg {
    font-size: x-large;
}

.txtlrg {
    font-size: large;
}

.txtsml {
    font-size: smaller;
}

.txtcenter {
    text-align: center;
}

.txtleft {
    text-align: left;
}

.txtright {
    text-align: right;
}

.txtindent {
    text-indent: -4em;
    padding: 72px;
    padding-top: 0px;
}

.txtnoindent {
    text-indent: 0;
}

.hugepadding {
    padding: 72px;
}

.xlrgpadding {
    padding: 45px;
}

.lrgpadding {
    padding: 18px;
}

.medpadding {
    padding: 6px;
}

.nopadding {
    padding: 0px;
}

.notoppadding {
    padding-top: 0px;
}

.nobtmpadding {
    padding-bottom: 0px;
}


.overlay {
    position: fixed;
}



.noborder {
    border: none;
}



.greenbg {
    background-color: #4fad7f;
}

.pinkbg {
    background-color: #b05280;
}


.left {
    float: left;
}

.right {
    float: right;
}


@media only screen and (max-aspect-ratio: 1) {
    .sidebar {
        width: 16vw;
    }

    audio {
        max-width: 13vw;
    }
}
