.head {
    min-height: 45px;
    height: 9%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    border: 12px outset;
}

.sidebar {
    min-width: 172px;
    width: 9%;
    display: flex;
    flex-direction: column;
    border: 9px inset;
    padding: 6px 6px 6px 6px;
}

.sidebarselection {
    display: flex;
    flex-direction: column;
    height: 36px;
    padding: 0px 18px 0px 6px;
    margin: 3px 6px 1px 6px;
    text-align: start;
    font-weight: bold;
}

.sidebarnav {
    font-size: 18px;
    height: 27px;
    padding: 9px 9px 9px 3px;
    margin: -6px -6px 6px -6px;
    border: 9px inset;
    text-align: center;
}

.content {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 9px outset;
    word-wrap: hyphenate;
    width: 100%;
}

.contentcont {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 18px;
    border: 6px dashed #939393;
    word-wrap: break-word;
    min-width: 270px;
    max-width: 720px;
}

.contenttxt {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0px 18px 18px 18px;
    border: 6px dashed #939393;
    width: 18%;
    word-wrap: break-word;
    min-width: 480px;
}

.foot {
    height: 9%;
    display: flex;
    flex-direction: row;
    background-color: #0f0f0f;
    border: 6px outset;
    clear: both;
}

.footconts {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6px 6px 6px 6px;
    margin: auto;
}



.button {
    background-color: #424242;
    border: 3px inset #939393;
    color: white;
    font-weight: bold;
    text-align: start;
    display: inline-block;
}

    .button:hover {
        max-width: 81%;
    }

.buttonnoresize {
    background-color: #424242;
    border: 3px inset #939393;
    color: white;
    font-weight: normal;
    text-align: start;
    display: inline-block;
}

    .buttonnoresize:hover {
        filter: invert();
    }

body {
    background-color: #242424;
    color: white;
}

section {
    font-family: Consolas;
}

div {
    font-family: Consolas;
}

form {
    font-family: Consolas;
}

/* HYPERLINK */
a {
    color: deepskyblue;
    text-decoration: none;
}



.imgkeepaspect {
    max-width: 480px;
    max-height: 480px;
    width: auto;
    height: auto;
}



.wide100 {
    width: 100%;
}

.wide72 {
    width: 72%;
}

.wide54 {
    width: 54%;
}

.wide36 {
    width: 36%;
}

.wide27 {
    width: 27%;
}

.wide18 {
    width: 18%;
}

.wide9 {
    width: 9%;
}



.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}



.automar {
    margin: auto;
}

.medmar {
    margin: 6px;
}

.nomar {
    margin: 0px;
}

.bottommar {
    margin: 0px 0px 18px 0px;
}

.medbtmmar {
    margin: 0px 0px 36px 0px;
}

.lrgbtmmar {
    margin: 0px 0px 54px 0px;
}


.txthuge {
    font-size: xx-large;
}

.txtxlrg {
    font-size: x-large;
}

.txtlrg {
    font-size: large;
}

.txtsml {
    font-size: smaller;
}

.txtcenter {
    text-align: center;
}

.txtleft {
    text-align: left;
}

.txtright {
    text-align: right;
}

.txtindent {
    text-indent: -4em;
    padding: 72px;
    padding-top: 0px;
}

.txtnoindent {
    text-indent: 0;
}

.hugepadding {
    padding: 72px;
}

.xlrgpadding {
    padding: 45px;
}

.lrgpadding {
    padding: 18px;
}

.medpadding {
    padding: 6px;
}

.nopadding {
    padding: 0px;
}

.notoppadding {
    padding-top: 0px;
}

.nobtmpadding {
    padding-bottom: 0px;
}


.overlay {
    position: fixed;
}



.noborder {
    border: none;
}



.greenbg {
    background-color: #4fad7f;
}

.pinkbg {
    background-color: #b05280;
}


.left {
    float: left;
}

.right {
    float: right;
}
